@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: url(../imagens/fundo-madeira.jpg) no-repeat fixed center top;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

section#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 311px;
    height: 627px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

#tela {
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 268px;
}

#socialmedia {
    float: right;
}

#socialmedia img {
    display: block;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.408);
    box-sizing: border-box; /*faz com que a borda faça parte*/
}

#socialmedia img:hover {
    border: 2px solid rgba(255, 255, 255, 0.609);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.613);
    transform: translate(-3px, -3px);
    transition: transform .3s;
}